
/* ------------------------------------ */
/* --- CARD LAYOUT -------------------- */
/* ------------------------------------ */

/* Overrides the BlockQuote */

/* --- LAYOUT --- */
.message-content blockquote {
    font-size: 1.5em;
	/* margin-top: calc(var(--intCardMarginTop) + var(--intOffsetMargineTop));*/
    margin-top: var(--intCardMarginTop);
    margin-bottom: var(--intCardMarginBottom);
    margin-left: var(--intCardMarginLeft);
    margin-right: var(--intCardMarginRight);
    padding-top: 0px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.0em;
    font-style: normal;
    border-radius: 3px;
}
/* Narrative Title Fonts */
.message-content blockquote h4, blockquote h5{
    text-transform: uppercase;

}
/* Narrative Title */
.message-content blockquote h4 {
    font-weight:550;
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: -8px;
    margin-right: -8px;
	padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 6px;
	border-radius: 2px 2px 0px 0px;
}
/* Narrative Title Icon */
.message-content blockquote h4::before {
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    /* content: "\f02e"; /* Booknmark */
    content: "\f630"; /* Masks */
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
}
/* Narrative Content */
.message-content blockquote p {
	display: block;
}
/* Narrative Illustration or Image */
.message-content blockquote img {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.0em;
    font-style: normal;
    border-radius: 6px;
    display: block;
}
/* Simple horizontal rule */
.message-content blockquote hr {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
/* Object or image Title */
.message-content blockquote h5 {
    font-weight: 600;
    font-size: 0.95em;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 4px;
    border-radius: 0px;
}
/* Narrative Chat Quote */
.message-content blockquote h6 {
    font-weight: 400;
    font-size: 1.0em;
    font-style: normal;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}
/* Narrative Chat Dialogue */
.message-content blockquote h6 strong {
    font-weight: 400;
    font-size: 1.0em;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 4px;
    border-radius: 0px;
}
.message-content blockquote h6 strong::before {
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    content: "\f086";
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 6px;
}
.message-content blockquote h6 strong::after {
    content: "\2022";
    font-weight:400;
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 0px;
}
/* Narrative Chat Inner Voice */
.message-content blockquote h6 em {
    font-weight: 400;
    font-size: 1.0em;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 4px;
    border-radius: 0px;
}
.message-content blockquote h6 em::before {
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    content: "\f4ad";
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 6px;
}
.message-content blockquote h6 em::after {
    content: "\2022";
    font-weight:400;
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 0px;
}

/* ------------------------------------ */
/* --- BUTTONS              ----------- */
/* ------------------------------------ */

/* Button */
.scribe-cards-illustration-button {
    text-transform: uppercase;
    font-size: 1.0em;
    font-style: normal;
    font-weight: 200;
    border-radius: 4px 4px 4px 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom:0px;
    margin-left: 0px;
    margin-right: 0px;
}




/* Information Cards */
#scribe-card-information-wrapper {
	color: #000000;
	/*
	background-image: url(../ui/denim.png);
    background-repeat: repeat;
    background-size: auto;
	background-color: rgba(44, 54, 0, 0.9);
	*/
}
#scribe-card-information-wrapper h4 {
	/* background-color: #B8B39B; */
	/* color: #000000; */

}
#scribe-card-information-wrapper h4::before {
	/* content: "\f08d"; */
    content: "\e0c0";
	/* color: #000000; */
	font-size: 0.9em;
}

/* Illustration Card */
#scribe-card-illustration-wrapper {
	padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#scribe-card-illustration-wrapper {
	background: #000000;
}
#scribe-card-illustration-wrapper h4::before {
	content: "\e206";
	/* color: #000000; */
	font-size: 1.0em;
}
#scribe-card-illustration-wrapper h4 {
	margin-top: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
}

#scribe-card-illustration-wrapper img {
	border-radius: 3px 3px 3px 3px;
	margin-bottom: -3px;
}








/* ------------------------------------ */
/* --- CARD COLORS (COMMON) ----------- */
/* ------------------------------------ */

/* --- THese are default and shared by all themes --- */

/* Narrative Title Icons */
.message-content blockquote h4::before {
    color: #faf6e6;
}
/* Narrative Illustration or Image */
.message-content blockquote img {

    background: #aea585;
    background-image: url(../images/tile-clothdark.webp);
    border-left: 1px solid #49442D80;
    border-right: 1px solid #49442D80;
    border-top: 1px solid #49442D80;
    border-bottom: 1px solid #49442D80;
}
/* Simple horizontal rule */
.message-content blockquote hr {
    border-left: 0px solid #aea585;
    border-right: 0px solid #aea585;
    border-top: 0px solid #aea585;
    border-bottom: 1px dotted #aea585;
}
/* Object or image Title */
.message-content blockquote h5 {
    color: #3e3b30;
    border-left: 0px dotted #aea585;
    border-right: 0px dotted #aea585;
    border-top: 0px dotted #aea585;
    border-bottom: 1px dotted #aea585;
}
/* Narrative Chat Quote */
.message-content blockquote h6 {
    color: #3e3b30;
    border-left: 0px solid #aea585;
    border-right: 0px dotted #aea585;
    border-top: 1px dotted #c1b99a;
    border-bottom: 1px dotted #c1b99a;
}
/* Narrative Chat Dialogue */
.message-content blockquote h6 strong {
    color: #aea585;
    border-left: 0px dotted #aea585;
    border-right: 0px dotted #aea585;
    border-top: 0px dotted #aea585;
    border-bottom: 0px dotted #aea585;
}
.message-content blockquote h6 strong::before {
    color: #aea585;
}
.message-content blockquote h6 strong::after {
    color: #aea585;
}
/* Narrative Chat Inner Voice */
.message-content blockquote h6 em {
    color: #aea585;
    border-left: 0px dotted #aea585;
    border-right: 0px dotted #aea585;
    border-top: 0px dotted #aea585;
    border-bottom: 0px dotted #aea585;
}
.message-content blockquote h6 em::before {
    color: #aea585;
}
.message-content blockquote h6 em::after {
    color: #aea585;
}
