/* ------------------------------------ */
/* --- LOAD COMMON CSS FILES ---------- */
/* ------------------------------------ */

@import "common.css";
@import "cards.css";
@import "journals.css";
@import "dialogues.css";

/* ------------------------------------ */
/* --- CARD COLORS -------------------- */
/* ------------------------------------ */

/* --- Begin CARD COLORS --- */
.message-content blockquote {
    color:#3e3b30;
    background: #faf6e6;
    /* --- card inner border --- */
    border-left: 5px solid #222121;
    border-right: 5px solid #222121;
    border-top: 5px solid #222121;
    border-bottom: 5px solid #222121;
    /* --- card outline --- */
	box-shadow: 0 0 0 2px #4f4a4a;
	
}
/* Narrative Title */
.message-content blockquote h4 {
    color: #faf6e6;
    /* --- bacground of the title - diff than inner border --- */
	background: #121212;
    /* --- these should match card inner border --- */
	border-top: 0px solid #222121;
    border-bottom: 2px solid #222121;
	box-shadow: 0 0 0 3px #222121;
}

/* ------------------------------------ */
/* --- BUTTONS ------------------------ */
/* ------------------------------------ */

.scribe-cards-illustration-button {
    background-color: #0e0c0c;
    color: #ffffff;
    border: 1px solid #4b4b4b;
}
.scribe-cards-illustration-button:hover {
    background-color: #000000;
    color: #AEADAD;
    border: 1px solid #767676;
    box-shadow: none;
}

/* ------------------------------------ */
/* --- JOURNAL COLORS ----------------- */
/* ------------------------------------ */

/* None for now */